<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
    <h2 >Tous les entités</h2>
    <tr>
        <div align = "center" >
            <a  th:href="@{'/newSalle'}"class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Add new Salle</a>

        </div>

    </tr>
    <br><br>
    <tr>

        <div class="col-sm-5" align = "center">
            <div class="panel-body" align = "center" >
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Salle ID</th>
                        <th>Salle Name</th>
                        <th>Capacite Etudiant</th>
                        <th>Nombre Surveillant</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="s : ${listsalle }">
                        <td th:text="${s.id}">Student ID</td>
                        <td th:text="${s.name}">StudentName</td>
                        <td th:text="${s.capaciteEtudiant}">Course</td>
                        <td th:text="${s.nombreSurveillant}">Fee</td>
                        <td>
                            <a th:href="@{'/editSalle/' + ${s.id}}">Edit</a>
                        </td>
                        <td>
                            <a th:href="@{'/deleteSalle/' + ${s.id}}">Delete</a>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>

    </tr>
<br>
<br>
</div>

</body>
</html>