<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
    <br><br><br>
    <br><br><br>
    <tr>
        <div align = "center" >
            <a  th:href="@{'/emploi'}"class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;voir tous les emplois du temps </a>
            <a th:href="@{'/new_emploi'}" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;créer des nouveaux emplois du temps </a>
        </div>

    </tr>
    <br><br>

    <br>
    <br>
</div>

</body>
</html>